/* @font-face {
font-family: 'Roboto-Light';
src: url('/src/fonts/roboto-font/Roboto-Light.eot');
src: url('/src/fonts/roboto-font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
url('/src/fonts/roboto-font/Roboto-Light.woff') format('woff'),
url('/src/fonts/roboto-font/Roboto-Light.ttf') format('truetype'),
url('/src/fonts/roboto-font/Roboto-Light.svg#RobotoLight') format('svg');
font-weight: 100;
font-style: normal;
} */

body{
  /* background: #eee url(http://subtlepatterns.com/patterns/sativa.png); */
  font-family: 'Roboto', sans-serif !important;
  background: #e6ecf0;
  /* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #212529;
}

.help-block{
  color: red;
  font-weight: lighter;
  font-size: 12px;
}

html,body{
  position: relative;
  height: 100%;
}

a {
  color: #3097D1;
  background-color: transparent !important;
  -webkit-text-decoration-skip: objects !important;
}
a:hover {
  color: #216a94 !important;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.5rem;
}

h5{
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: bolder;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.login-container{
  position: relative;
  width: 400px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}

.btn-info {
  background: #2E8BDA !important;
}

.icon{
  margin-right: 10px;
  width: 30px;
  height: 24px;
}

.btn-face{
  background: #3b5998;
  color: #ffff;
}

.btn-google{
  background-color: #4c89e3;
  color: #ffff;
}
.avatar{
  width: 200px;height: 220px;
  margin: 5px auto 15px;
  /* border-radius: 100%;
  border: 2px solid #aaa; */
  background-size: cover;
}

.logo-name{
  font-style: italic;
  font-weight: lighter;
  color:rgba(0,0,0,.7);
}

.logo-subname{
  color:rgba(0,0,0,.5);
}

.form-box input[type="text"] ,[type="password"]{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;
}

.form-box input:focus{
  outline: 0;
  background: #eee;
}

.form-box input[type="text"]{
  margin-top: 5px;
}

.form-box input[type="password"]{
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.form-box button.login{
  margin-top:15px;
  padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.text-form-footer a{
  color:#464646 !important;
  font-size: 12px;
}

.text-form-footer hr{
  margin-left: 100px;
  margin-right: 100px;
}

criar:hover{
  text-decoration: underline !important;
}
.logo{
  width:50px;
}
.img-perfil{
  width: 32px;
  margin-top: -8px !important;
}

.navbar{
  padding: 0 !important;
}

.nav-item{
  font-size: 14px !important;
}

.nav-item a{
  color: inherit;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 46px;
  line-height: 1;
  padding: 15px 14px 0 4px;
}

.nav-link:hover{
  color:#ABB8C2 !important;
}

.nav-text{
  float:right;
  margin-left: 3px;
  margin-top: 0px;
  padding: 0;
}

.dropdown-item{
  font-size: 12px;
}
.content{
  margin-top: 80px;

}


.card{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
}

.ProfileLayer {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  min-height:  150px;
}

.PhotoPerfil img{
  margin-top:  -70px;
  width: 100px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.line{
  border-right: 1px solid #d4dbe0;
}

/* ============================================================================*/

.PhotoPerfilFollow{
  display: inline-block;
}
.PhotoPerfilFollow a{
  color: inherit;
  text-decoration: inherit;
  text-align: center;
}
.PhotoFollow {
  padding-left: 0;
  list-style: none;
  margin-right: 1rem !important;
}
.PhotoFollow img{
  width: 48px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  float: left;
}
.PhotoFollow li{
  margin-top: 15px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 8px;
}

.PhotoFollowDesc strong{
  word-break: break-all;
  color: #14171a;
  font-size: 14px;
  font-weight: bold;
}

.PhotoFollowDesc .btn-sm {
  padding: 0.1rem 1rem !important;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

/*==============================================================================*/
.textPadding{
  padding: 5px 15px 5px 15px !important;
  color: rgba(0,0,0,.5);
  line-height: 1.2;
  font-size: 14px;
}
.list-about{
  padding-left: 0;
  list-style: none;
}

.list-about ul{
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.list-about li{
  margin-bottom: 5px;
  color: #6c757d !important;
  font-size: 14px !important;
  display: list-item;
  text-align: -webkit-match-parent;
}

.list-about li .Icon{
  margin-right: 1rem !important;
}

.list-about ul li a{
  text-decoration: underline !important;
}

/*=============================================================================*/
.desc{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.desc a {
  color: #6c757d !important;
}

.desc a:hover {
  color:#ABB8C2 !important;
}

/*============================================================================*/

input[type="post"] {
  border:none !important;
  background-color: transparent;
}

textarea{
  min-height: 80px;
}

.cx-text{
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #F6F7F8;
}
.cx-text .cx-post{
  margin: 20px 20px 20px 20px;
  width: 94% !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.input-group{
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 1px;
}

.input-group-prepend a{
  margin-top: 8px;
  margin-right: 8px;
  color:#cfd4d8;
}
.input-group-prepend a:hover{
  color: #b8bcc0 !important;
}
.panel-footer{
  margin-top: 10px;
  color:#f5f5f5 ;
}

.panel-footer .list-left{
  float: left;
}

.panel-footer .list-right{
  float: right;
  text-align: right;
}

.panel-footer .list-inline-item a{
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: #fff;
  color:#cfd4d8;
}

.panel-footer .list-inline-item a:hover{
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  outline: 0;
  color: #b8bcc0 !important;
}

.card-post{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-left: -10px;
  margin-right: -10px;
}

.card-post-item{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px
}

.list-post{
  border-bottom: 1px solid #e6ecf0;
  list-style-type: none;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
}

.list-item-footer{
  display: table;
  width: 100%;
  font-size: 14px;
  padding-top: 1px;
}

.list-item-footer ul li{
  font-size: 0;
  height: 18px;
  line-height: 1;
  margin-bottom: 2px;
  margin-top: 10px;
  line-height: 1;
  width: 10%;
}

.list-item-footer ul li a{
  color: #657786;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 0 2px;
  position: relative;
}

.list-item-footer ul li a:hover{
  color:#ABB8C2 !important;
}

.post-img{

}

.post-name{
  font-weight: bold;
  font-size: 14px;
}

.post-nickname{
  font-weight: lighter;
  color:#ABB8C2;
}

.post-content{
  padding: 10px;
  margin-left: 58px;
}

.img-post{
  max-width: 58px;
  padding: 10px;
}

/* ==========================================================================*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*============================================================================*/

.cx-profile-heading{
  background: #fff;
  border-bottom: 1px solid #e6ecf0;
  margin-left: -10px;
  margin-right: -10px;
}

.cx-profile-heading ul li a{
  display: inline-block;
  color: #657786;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  padding: 15px 15px 5px;
}

.cx-profile-heading ul li a:hover{
    color:#ABB8C2 !important;
    text-decoration: none;
}

.profile-content{
  background: #ffff;
}
